# For more examples, see https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore and www.gitignore.io
*~
\#*\#
.\#*
bin
build
.DS_Store
.env
.log
node_modules
package.json
package-lock.json
.venv
.vscode
__pycache__
