# For more examples, see https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore and www.gitignore.io

## Directories
bin/
build/
.env/
.log/
node_modules/
__pycache__/
.venv/
.vscode/

## Files
.DS_Store
package.json
package-lock.json

## Wildcards
*~
\#*\#
.\#*
