# For more examples, see www.gitignore.io and
# https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

## Compilers
# bin/
build/

## Emacs
*~
\#*\#
.\#*

## macOS
.DS_Store

## node
node_modules/
package.json
package-lock.json

## Python
.env
.env/
.venv/
__pycache__/
.ruff.toml
ruff.toml

## TeX
*.aux
*.dvi
*.out

## vscode
.vscode/

## Other
.log/
