[user]
	name = Andreas Jonsson
	email = ajdev8@gmail.com

[core]
	editor = emacs -nw

[alias]
	tree = log --oneline --decorate --all --graph

[diff]
#	tool = merge
#	tool = meld
#	tool = emerge
	tool = ediff
	
[difftool "ediff"]
	  cmd = emacs -nw --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[difftool]
	prompt = false

[merge]
	tool = ediff
	
[mergetool "ediff"]
    cmd = emacs -nw --eval \" \
(progn \
  (setq ediff-quit-hook 'kill-emacs) \
  (if (file-readable-p \\\"$BASE\\\") \
      (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
                                       \\\"$BASE\\\" nil \\\"$MERGED\\\") \
      (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"
