[user]
	name = Andreas Jonsson
	email = ajdev8@gmail.com

[core]
	editor = emacs -nw
	excludesFile = ~/.gitignore

[init]
	defaultBranch = main

[alias]
	tree = log --oneline --decorate --all --graph

[pager]
	stash = false

[diff]
#	tool = merge
#	tool = meld
#	tool = emerge
	tool = ediff
	
[difftool "ediff"]
	  cmd = emacs -nw --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[difftool]
	prompt = false

[merge]
	tool = ediff

[merge "aggregate"]
    name = aggregate both new sections
    driver = git merge-file --union -L %P %A %O %B
    
[mergetool "ediff"]
    cmd = emacs -nw --eval \" \
(progn \
  (setq ediff-quit-hook 'kill-emacs) \
  (if (file-readable-p \\\"$BASE\\\") \
      (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
                                       \\\"$BASE\\\" nil \\\"$MERGED\\\") \
      (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"

# Delta config

[includeIf]
    path = ~/.gitconfig.delta

# Repository dependent config

[includeIf "gitdir:~/dotfiles/"]
    path = ~/dotfiles/.gitconfig

[includeIf "gitdir:~/git/"]
    path = ~/git/.gitconfig

[includeIf "gitdir:~/projects/home/"]
    path = ~/projects/home/.gitconfig

[includeIf "gitdir:~/projects/work/"]
    path = ~/projects/work/.gitconfig

